.btn-primary, .btn-secondary {
    padding: 16px 32px;
    text-decoration: none;
}

.btn-primary {
    background-color: #426AAF;
    color: white;
}

.btn-secondary {
    background-color: #FFC151;
    color: black;
}