@import '../../styles/variables.module.scss';

.button {
    cursor: pointer;
    padding: 8px 20px;
    font-size: $size-xsmall;
    border-width: 1px;

    &:hover {
        opacity: 0.8;
    }
}

.link {
    text-decoration: underline;
    border: none;
}

@media(min-width: 992px) {
    .button {
        padding: 16px 48px;
        border-width: 2px;
    }
}

@media(min-width: 1200px) {
    .button {
        padding: 12px 50px;
        font-size: $size-small-medium;
    }
}

@media(min-width: 1920px) {
    .button {
        padding: 12px 50px;
        font-size: $size-medium;
    }
}


@mixin button-styles($color, $hollow, $text: $color-white ) {

    text-decoration: none;

    @if $hollow {
        background-color: transparent;
        color: $color;
        border-color: $color;
    }

    @else {
        background-color: $color;
        color: $text;
        border-color: transparent;
    }

}


.primary.filled {
    @include button-styles($color-primary, false, $color-white);
}

.primary.hollow {
    @include button-styles($color-primary, true);
}

.secondary.filled {
    @include button-styles($color-secondary, false, $color-neutral-dark);
}

.secondary.hollow {
    @include button-styles($color-secondary, true);
}

.white.filled {
    @include button-styles($color-white, false, $color-neutral-dark, );
}

.white.hollow {
    @include button-styles($color-white, true);
}

.neutralDark.filled {
    @include button-styles($color-neutral-dark, false, $color-white);
}

.neutralDark.hollow {
    @include button-styles($color-neutral-dark, true);
}