@import '../../../styles/variables.module.scss';

@include container-padding('.contact__container');

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media(min-width: 1920px) {
    .contact__container {
        max-width: $container-max-width;
        margin: 0 auto;
        min-height: 1000px;
    }
}