.hero {
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem;
}


.gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5984987745098039) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.6041010154061625) 100%);
}

@media(min-width: 768px) {
    .hero {
        height: 30rem;

        &.skinny {
            height: 20rem;
        }
    }
}

@media(min-width: 992px) {
    .hero {
        height: 40rem;
    }
}

@media(min-width: 1200px) {
    .hero {
        height: 50rem;
    }
}