@import '../../styles/variables.module.scss';

@include container-padding('.dataGrid');

.dataGrid__title {
    font-size: $size-medium;
    margin-bottom: 30px;
}

.dataGrid__grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px 15px;
}


.dataGrid__label {
    text-transform: uppercase;
    font-size: $size-xtiny;
    letter-spacing: 1px;
}

.dataGrid__value {
    font-size: $size-small;
}

@media(min-width: 768px) {
    .dataGrid__grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 3rem ;
    }
}

@media(min-width: 1200px) {
    .dataGrid {
        max-width: $container-max-width-small;
        margin: 0 auto;
    }

    .dataGrid__title {
        font-size: $size-large;
        margin-bottom: 60px;
    }

    .dataGrid__grid {
        // grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem 3rem;
    }

    .dataGrid__label {
        font-size: $size-tiny;
    }

    .dataGrid__value {
        font-size: $size-medium;
    }
}