.dataGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem 1rem;
}

.dataGrid__label {
    text-transform: uppercase;
    font-size: 16px;
}

.dataGrid__value {
    font-size: 32px;
}