.promo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 2rem;
    max-width: 24rem;

}

.promo__eyebrow {
    margin-bottom: 1rem;
}

.promo__image {
    width: 100%;
    height: 15rem;
    margin-bottom: 1.25rem;
    background-size: cover;
    background-position: center;
}
.promo__header {
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.promo__body {
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 1.25rem;
}

.promo__cta {
    text-align: center;
    display: flex;
    margin-top: auto;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.5s ease;
    font-size: 1.25rem;

    &>img {
        margin-left: 0.8rem;
        transition: all 0.5s ease;
    }
}


.promo:hover {
    cursor: pointer;

    & > .promo__cta {
    text-decoration-color: black;

        & >img {
            transform: translateX(4px);
        }
    }
}

@media(min-width: 768px) {
    .promo {
        width: 24rem;
        margin-bottom: 0;
    }
}