$lager-red: #be1e2e;
$lager-black: #2f2f2f;
$lager-cream: #FFFFFC;
$lager-beige: #beb7a4;


.hero {
    // background-color: $lager-cream;
    background-image: url('/assets/images/hero-test.jpg');
    background-position: 55% 35%;
    background-size: cover;

    @media(min-width: 992px) {
        background-size: 180%;
    }
}

.btn-container {
    width: 22rem;
}

.section-dark {
    background-color: $lager-black;
}

.section-light {
    background-color: $lager-beige;
}

@media(min-width:992px) {

    .btn-container {
        width: 22%;
    }

}