
// Colors
$color-yellow: #FFC151;
$color-blue: #314F82;
$color-darkgrey: #2E2E2E;
$color-lightgrey: #e5e7eb;
$color-white: #ffffff;

$color-primary: $color-blue;
$color-secondary: $color-yellow;
$color-neutral-light: $color-lightgrey;
$color-neutral-dark: $color-darkgrey;

$theme-colors: (
    'primary': $color-blue,
    'secondary': $color-yellow,
    'neutralDark': $color-neutral-dark,
    'neutralLight':$color-neutral-light,
    'white': $color-white
);

// Font Sizes


$size-large: 50px;
$size-medium-large: 40px;
$size-medium: 32px;
$size-small-medium: 28px;
$size-small: 24px;
$size-xsmall: 20px;
$size-tiny: 16px;
$size-xtiny: 12px;


$container-padding-mobile: 45px 30px; 
$container-padding-tablet: 50px 30px; //768+ 
$container-padding-desktop-small: 100px; //1200+
$container-padding-desktop-large: 150px; //1920+



$text-component-header: 50px;
$text-component-body-mobile: 16px;
$text-component-body-desktop: 32px;




:export {
    @each $key, $value in $theme-colors {
        #{unquote($key)}: $value;
    }
}
