.block {
    display: grid;
    grid-template-columns: 1fr;
}

.block__image {
    height: 40rem;

    &>img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@media(min-width: 768px) {
    .block {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
    }

    .block__image {
        height: 50rem;

        &.reverse {
            order: 2;
        }
    }
}