@import '../../../styles/variables.module.scss';

@include container-padding('.events');


.events__none {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px;

    & h2 {
        font-size: $size-medium;
        margin-bottom: 15px;
    }

    & p {
        font-size: $size-small;
        font-weight: bold;
    }
}

@media(min-width: 768px) {
    .events__none {
        padding: 60px 0px;
    }
}

@media(min-width: 992px) {



    .events__none {

        & h2 {
            font-size: $size-medium-large;
            margin-bottom: 15px;
        }

    }
}

@media(min-width: 1920px) {
    .events__container {
        max-width: $container-max-width;
        margin: 0 auto;
    }
}