@import '../../../styles/variables.module.scss';

.events {
    padding: $container-padding-mobile;
    padding-top: 0px;
}

@media(min-width: 768px) {
    .events {
        padding: $container-padding-tablet;
        padding-top: 0px;
        
    }
}
@media(min-width: 992px) {
    .events {
        padding: $container-padding-desktop-small;
                padding-top: 0px;
    }
}
@media(min-width: 1920px) {
    .events {
        padding: $container-padding-desktop-large;
                padding-top: 0px;
    }
}