@import '../../styles/variables.module.scss';

.event {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    // grid-template-rows: 1fr 2fr;
    // height: 200px;
}

.event__image {
    max-width: 450px;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.event__content {
    display: flex;
    flex-direction: column;
}

.event__title {
    font-size: $size-small;
    margin-bottom: 10px;
    order: 1;
}

.event__details {
    display: flex;
    flex-direction: column;

    order: 3;

    & p {
        align-items: center;
        display: flex;
        margin-bottom: 10px;
    }

    & img {
        width: 20px;
        margin-right: 10px;
    }
}

.event__description {
    order: 2;
    margin-bottom: 15px;
}

@media(min-width: 768px) {
    .event {
        grid-template-columns: 3fr 5fr;
        column-gap: 2rem;
    }
    .event__image {
        height: 100%;
    }
}

@media(min-width: 992px) {
    .event {
        grid-template-columns: 2fr 5fr;
    }

    .event__title {
        font-size: $size-medium;
        margin-bottom: 5px;
    }

    .event__details {
        font-size: $size-xsmall;
        order: 2;
        flex-direction: row;
        margin-bottom: 15px;

        & p {
            margin-right: 30px;
        }

        & img {
            margin-right: 10px;
            width: 15px;
        }
    }

    .event__description {
        order: 3;
        font-size: $size-small;
    }


}

@media(min-width: 1200px) {
    .event__image {
        min-height: 300px;
    }

}