.event {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 2rem;
    min-height: 200px;
}

.event__details {
    display:flex;

    & p{
        display: flex;
    }

    & img {
        width: 20px;
    }
}

@media(min-width: 768px) {
    .event {
        padding: 0;
    }
}


