.home__promos {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
}

.home__promoGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;

    & h2 {
        margin-bottom: 50px;
    }
}

@media(min-width: 768px) {
    .home__promos {
        flex-direction: row;
    }

}