$color-yellow: #FFC151;
$color-blue: #426AAF;
$color-darkgrey: #4F4F4F;
$color-lightgrey: #e5e7eb;


$theme-colors: (
    'yellow': #FFC151,
    'blue': #314f82,
    'darkgrey': #2e2e2e,
    'lightgrey': #e1e2e2
);

:export {
    @each $key, $value in $theme-colors {
        #{unquote($key)}: $value;
    }
}