@import '../../styles/variables.module.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 20;
    left: 0;
    padding: 8px 20px;
    height: 80px;

    &.background {
        background-color: $color-neutral-dark;
        position: absolute;
    }
}



.navbar__logo {
    height: 100%;

    & img {
        height: 100%;
        object-fit: contain;
    }
}

.navbar__links {
    display: none;
}

.navbar__link {
    text-decoration: none;
    color: white;
    font-size: $size-medium;
    margin-bottom: 30px;

}

.navbar__mobileDialog {
    display: flex;
    flex-direction: column;
    padding: $container-padding-mobile;
    padding-top: 150px;
}

@media(min-width: 768px) {

    .navbar.background {
        position: static;
    }


    .navbar__toggle {
        display: none;
    }

    .navbar__links {
        display: initial;
    }

    .navbar__link {
        font-size: $size-small;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }


}

@media(min-width: 992px) {


    .navbar__link {
        font-size: $size-small-medium;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }


}

@media(min-width: 1200px) {
    .navbar {
        height: 120px;
        padding: 15px 50px;
    }

    .navbar__link {
        font-size: $size-small-medium;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

@media(min-width: 1920px) {
    .navbar__link {
        font-size: $size-medium;
    }
}