@import '../../styles/variables.module.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index:20;
    left: 0;
    padding: 8px 20px;
    height: 80px;

    &.background {
        background-color: $color-neutral-dark;
        position: static;
    }
}