@import "../../styles/variables.module.scss";

.fiftyFifty {
    display: grid;
    grid-template-columns: 1fr;

}

.fiftyFifty__content {
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    padding: $container-padding-mobile;
    order: 1;

    & h2 {
        font-size: $size-medium;
        margin-bottom: 15px;
        line-height: 1;
    }

    & p {
        font-size: $size-xsmall;
        margin-bottom: 20px;
    }

}


.fiftyFifty__image {
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media(min-width: 768px) {
    .fiftyFifty {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .fiftyFifty__content {
        padding: $container-padding-tablet;

        &.reverse {
            order: -1;
        }
    }

    .fiftyFifty__text {
        & h2 {
            font-size: $size-medium;
        }

        & p {
            font-size: $size-small;
        }

        & h2,
        p {
            margin-bottom: 20px;
        }
    }

}

@media(min-width: 1200px) {
    .fiftyFifty__content {
        padding: $container-padding-desktop-small;
    }

    .fiftyFifty__text {
        & h2 {
            font-size: $size-medium-large;
        }

        & p {
            font-size: $size-medium;
        }

        & h2,
        p {
            margin-bottom: 40px;
        }
    }
}

@media(min-width: 1920px) {
    .fiftyFifty__content {
        padding: $container-padding-desktop-large;
    }

    .fiftyFifty__text {
        & h2 {
            font-size: $size-large;
            margin-bottom: 30px;
        }

        & p {
            font-size: $size-medium-large;
            max-width: 80%;
            margin-bottom: 80px;
        }
    }
}