.textblock {
    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem;
    }
}



@media(min-width: 768px) {
    .textblock {
        h2 {
            width: 40%;
        }

        p {
            width: 60%;
        }
    }

}