@import "../../styles/variables.module.scss";

.container__inner {
    padding: $container-padding-mobile;
    width: 100%;

    & h1 {
        font-size: $size-medium-large;
        margin-bottom: 30px;
    }
}

.container__body {
    font-size: $size-xsmall;

    & p {
        margin-bottom: 20px;
    }
}

@media(min-width: 768px) {
    .container__inner {
        // padding: $inner-container-padding-desktop;
    }
}