@import "../../styles/variables.module.scss";

.container__inner {
    padding: $container-padding-mobile;
    width: 100%;

    & h1 {
        font-size: $size-medium-large;
    }
}

.container__body {
    font-size: $size-xsmall;
    margin-top: 30px;

    & p {
        margin-bottom: 20px;
    }
}

@media(min-width: 768px) {
    .container__inner {
        padding: $container-padding-tablet;
    }
}
@media(min-width: 1200px) {
    .container__inner {
        padding: $container-padding-desktop-small;
    }
}
@media(min-width: 1920px) {
    .container__inner {
        padding: $container-padding-desktop-large;
    }
}
