@import "../../styles/variables.module.scss";

@include container-padding('.footer');

$margin-between: 50px;

.footer {
  background-color: $color-neutral-dark;
  display: flex;
  flex-direction: column;
  font-size: $size-xsmall;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

.footer__container {
  width: 100%;
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__address {
  margin-bottom: $margin-between;
  text-align: center;
}

.footer__hours {
  margin-bottom: $margin-between;
  text-align: center;
}

.footer__contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: $margin-between;
  width: 100%;

  & a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: underline;
  }

  & img {
    filter: invert(1);
    height: 20px;
    margin-right: 15px;
  }
}

.footer__logo {
  margin-bottom: $margin-between;
  padding: 0 30px;

}

.footer__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: $margin-between;
}

.footer__link {
  margin-bottom: 10px;
  text-align: center;
  font-size: $size-small;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__credit {
  margin-top: 10px;
  font-size: $size-tiny;
}

.footer__divider {
  height: 2px;
  background-color: rgba($color-neutral-light, 0.5);
  margin-bottom: $margin-between;
  width: 100px;
}

.footer__hr {
  width: 100%;
  height: 1px;
  background-color: rgba($color-neutral-light, 0.5);
}

@media(min-width: 768px) {

  .footer__container {
    display: flex;
    justify-content: space-between;
  }

  .footer__contact {
    align-items: flex-start;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__logo {
    width: 250px;
    padding: 0;
  }

  .footer__hours {
    text-align: left;
  }

  .footer__links {
    display: block;
    text-align: right;
  }

  .footer__divider {
    display: none;
  }

  .footer {
    align-items: flex-start;
  }
}

@media(min-width: 992px) {
  .footer {
    font-size: $size-small;
  }

  .footer__logo {
    width: 300px;
  }

  .footer__credit {
    font-size: $size-xsmall;
  }
}

@media(min-width: 1200px) {
  .footer {
    font-size: $size-small;
    padding: 100px;
  }

  .footer__logo {
    width: 350px;
  }

  .footer__credit {
    font-size: $size-xsmall;
  }
}