.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    padding: 30px 15px;
    width: 100%;
}

.banner__text {
    margin-bottom: 30px;
}

@media(min-width: 768px) {
    .banner {
        padding: 100px;
    }
}


